<h1>Main#home</h1>
<p>Find me in app/views/main/home.html.erb</p>

<h2>
a:   <%= @a %> <br>
b:   <%= @b %> <br>
</h2>
<br> ================== <br>
Covel : <%= @covel_menu %> <br>
<br> ================== <br>

Deneve : <%= @deneve_menu %><br>
<br> ================== <br>

Bruin plate: <%= @bplate_menu %> <br>
<br> ================== <br>

FEAST at Rieber : <%= @feast_menu %><br>
<br> ================== <br>

<br><br><br><br><br>
<p>
