<h1>Homes#index</h1>
<p>Find me in app/views/homes/index.html.erb</p>


<h2>
a:   <%= @a %> <br>
b:   <%= @b %> <br>
</h2>
<br> ================== <br>
Covel : <%= @covel_menu %>
<br> ================== <br>

Deneve : <%= @deneve_menu %>
<br> ================== <br>

Bruin plate: <%= @bplate_menu %> <br>
<br> ================== <br>

FEAST at Rieber : <%= @feast_menu %>

<br> ================== <br>

<br><br><br><br><br>
<p>
a:   <%= @a %> <br>
b:   <%= @b %> <br>
c:   <%= @c %> <br>

  CHECK<br>

d:  <%= @d %> <br>
</p>

<h4>
ERROR: <%= @error %> <br>

</h4>
